{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ qrcode_url(code, { extension: 'png' }) }}" alt="qr-code" >
    {#<img src="{{ asset('adsfgdfsgdsfg.png') }}"></img>#}
    <h2>Hello fom <span style="color: #ff4500;">qcg</span></h2>
    <p>Visit the following link:
        <a href="http://127.0.0.1:8000/" style="font-family: Arial, 'Ubuntu Light', sans-serif">
            http://127.0.0.1:8000/
        </a>
    </p>
    <span style="float: right">With best wishes, QR code generator</span>
{% endblock %}